body {
    margin: 10px;
    padding: auto;
}

main {
    margin: 15px;
    column-count: 2;
    margin: 20px 50px 20px 50px;
}

section {
    margin: 0 50px 0 50px;
}

.main .context {
    display: flex;
    justify-content: start;
    margin: 0%;
    align-items: flex-start;
    text-align: left;
}

.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article p {
    flex: 1;
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(242, 117, 39, 0.8);
    /* 테두리 추가 */
}

.styled {
    display: flex;
    margin: 0 50px 0 50px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: rgba(229, 129, 30, 0.8);
}

.styled h2 {
    margin: 0;
}

.styled ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.styled ul li {
    padding: 10px 20px;
}

.styled a {
    color: rgb(240, 165, 26);
    text-decoration: none;
}

.styled li:hover a {
    font-weight: bold;
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: auto;
    position: relative;
    height: 200px;
    width: 100%;
}

.banner h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(240, 165, 26, 0.8);
    /* 반투명 회색 */
    padding: 10px;
    /* 내부 여백 */
    font-size: 2em;
    /* 텍스트 크기 조정 */
    z-index: 1;
    /* 배경보다 앞에 배치 */
}

.background {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2024/03/07/15/57/houses-8618837_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: rgba(242, 117, 39, 0.8);
}

footer p {
    margin: 0;
    color: rgba(237, 156, 156, 0.2);
}